<div class="form__controls">
    {{#if labelText}}
    <label class="form__controls__label" for="{{name}}">{{labelText}}</label>
    {{/if}}
    <input name="{{name}}" placeholder="{{placeholder}}" required="{{isRequired}}" type="{{type}}"
        class="form__controls__input" />
</div>