<div class="inputs">
  {{{emailInput}}}
  {{{loginInput}}}
  {{{firstNameInput}}}
  {{{secondNameInput}}}
  {{{displayNameInput}}}
  {{{phoneInput}}}
</div>
<div class="actions">
  {{{submitButton}}}
</div>
